@import '~sl-vue-tree/dist/sl-vue-tree-dark.css';
@import "reset";
.sl-vue-tree-sidebar {
    margin-left: 10px;
}

.el-dialog__wrapper {
    .el-dialog {

    }
}

.el-icon-success {
    color: #67C23A;
}

.filter-container {
    .el-select {
        vertical-align: top;
    }
}


.detail-form-box {
    padding: 30px 45px 20px 50px;
    width: 85%;
}

.detail-btn-box {
    position: fixed;
    padding: 10px 30px;
    text-align: right;
    right: 0;
    bottom: 0;
    background: none;
    margin-bottom: 0;
}

.el-loading-mask{
    z-index: 1;
}
